
.sub-header{
    padding: 1rem;
    color: var(--darksubtitle);
    font-size: 1rem;
}
.sub-header a{
    color: var(--darksubtitle);
    margin:0 0.5rem;
}
.sub-header a:hover{
    color: blue;
}
section.item-details div.top-section{
    display: flex;
    gap: 0.5rem;
    background-color: #fff;
    border-radius:  6px;
    box-shadow: 1px 4px rgba(164, 164, 164, 0.172);
    padding: 0.2rem;
}
section.item-details div.top-section i{
    color:#767676;
}
/* top section */
div.show-item-container{
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 520px;
    padding: 0.5rem;
    border-radius: 6px;
    position: sticky;
    top: 60px;
}

div.show-item-container div.top-wrapper{
    display: flex;
    height: 85%;
    width: 100%;
}



div.show-item-container div.side-carasel{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
div.show-item-container div.side-carasel img{
    width: 100%;
    padding: 0rem;
    background-color: #fff;
    margin:0.5rem 0;
    border:1px solid var(--subtitle);
}



div.show-item-container div.main-image{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.show-item-container div.main-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.show-item-container div.bottom-wrapper{
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


div.bottom-wrapper select{
    text-align: center;
    cursor: pointer;
    padding: 0.8rem;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 1rem;
}
div.bottom-wrapper button.add-btn{
    width: 100%;
    margin:0 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2B4CD7;
    border: 1px solid var(--subtitle);
    border-radius: 6px;
    color: var(--title);
    transition: all 0.3s ease;
    padding: 0.8rem;
}
div.bottom-wrapper button.add-btn:hover{background-color: #2743b5;}
div.bottom-wrapper button.add-btn:active{scale:0.98;}
div.bottom-wrapper button.favorite-btn{
    width: 20%;
    font-size: 1rem;
    cursor: pointer;
    border:1px solid gray;
    border-radius: 6px;
    padding: 0.8rem;
}
.bottom-wrapper i.fa-solid{
    color: red !important;
}
/* middle section */
/* <div className="item-info-container">
<div className="top-header">
    <p><span>best seller</span> in Books <i class="fa-solid fa-chevron-right"></i></p>
    <p><i class="fa-solid fa-cart-shopping"></i> in Your Cart</p>
</div>
<h1>TItle</h1>
<h5>Description</h5>
<p>was: EGP 8888.00</p>
<h2>Now: EGP 8888.00</h2>
<p>Saving: EGP 3066.00 <span>34% Off</span></p> 
<p>Express</p>
<div className="value-wrapper">
    <div className="card">
        <i class="fa-solid fa-truck"></i>
        <p>Delivery by Ezz-El-Deen</p>
    </div>
    <div className="card">
        <i class="fa-solid fa-star"></i>
        <p>High Rated Seller</p>
    </div>
    <div className="card">
        <i class="fa-solid fa-arrow-rotate-left"></i>
        <p>Low Returns</p>
    </div>
    <div className="card">
        <i class="fa-solid fa-credit-card"></i>
        <p>Cash on Delivery</p>
    </div>
</div>
<p>Color Name: <b>Midnight Black</b></p>
<div className="color-wrapper">
    <img src="https://f.nooncdn.com/p/pnsku/N70031501V/45/_/1709822664/ac09b153-6a69-47f5-9b21-842cd119900b.jpg?format=avif&width=240" alt="" />
    <img src="https://f.nooncdn.com/p/pnsku/N70031501V/45/_/1703140264/25b68e86-8a8a-476e-a682-786b3703fd85.jpg?format=avif&width=240" alt="" />
    <img src="https://f.nooncdn.com/p/pnsku/N70031501V/45/_/1703140261/d00a00b0-7ce9-4bea-a930-b8da1dc264bd.jpg?format=avif&width=240" alt="" />
    <img src="https://f.nooncdn.com/p/pnsku/N70031501V/45/_/1703140262/77611501-fdb0-4774-a6cc-2fd572125071.jpg?format=avif&width=240" alt="" />
</div>
</div> */

div.item-info-container{
    display:flex;
    flex-direction:column;
    width: 40%;
    padding: 0.5rem 1rem;
    border-left: 1px solid var(--subtitle);
}
div.item-info-container div.top-header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 2rem;
}
div.item-info-container div.top-header p.best-seller{
    background-color: lightgray;
    padding:0.2rem 0.5rem 0.2rem 0;
    border-radius: 15px;
    font-size: 0.8rem;
}
div.item-info-container div.top-header p.best-seller span{
    background-color: black;
    padding:0.2rem 0.5rem;
    border-radius: 15px;
    color:var(--subtitle);
}
div.item-info-container div.top-header p.incart{
    background-color: #38AE04;
    color: var(--subtitle) !important;
    padding:0.2rem 0.5rem;
    border-radius: 15px;
    font-size: 0.9rem;
}

div.item-info-container h1{
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: var(--darktitle);
    font-size: 1.8rem;
}
div.item-info-container h5{
    font-size: 1.2rem;
    font-weight: 550;
    color: var(--darksubtitle);
    margin-bottom: 1rem;
}
div.item-info-container p{
    margin-bottom: 0.8rem;
    color: #646464;
    font-size: 1.05rem;
}
div.item-info-container b{
    color: var(--darksubtitle);
    font-size: 1.2rem;
}
div.item-info-container p.express{
    color: var(--darksubtitle);
}

div.item-info-container div.value-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
div.item-info-container div.value-wrapper i{
    color: gray !important;
}
div.item-info-container div.value-wrapper div.card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scale: 1.2;
    box-shadow: none;
    border-right: 1px solid var(--subtitle);
    border-radius: 0;
    padding: 0;
}
div.item-info-container div.value-wrapper div.card i{
    margin-bottom: 0.2rem;
    color: var(--primary);
}
div.item-info-container div.value-wrapper div.card p{
    font-size: 0.8rem;
    text-align: center;
}

div.item-info-container div.color-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
div.item-info-container div.color-wrapper img{
    height: 100px;
    width: 100px;
    object-fit: contain;
    border:1px solid var(--subtitle);
    cursor: pointer;
    border-radius: 6px;
}


/* side info*/
div.side-info {
    color: var(--darktitle);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 6px;
    gap: 1.5rem;
    width: 31%;
    border-left: 1px solid var(--subtitle);
}
div.side-info p i{
    color: var(--primary);
    margin-right: 0.5rem;
}
div.side-info p {
    font-size: 0.95rem;
    color: var(--darksubtitle);
    align-items: center;
}

div.side-info p a {
    color: blue;
    text-decoration: underline;
    font-size: 0.9rem;
}

.side-info-value-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.side-info-value-wrapper i {
    color: var(--primary);
    margin-right: 0.5rem;
}
.sold-by .fa-chevron-right{
    font-size: 1.2rem !important;
    color: var(--darktitle);
    cursor: pointer;
    margin-left: 3rem;
}
.side-info-value-wrapper .sold-by{
    display: flex;
}
.side-info-value-wrapper .sold-by i{
    font-size: 2rem;
}
.side-info-value-wrapper .sold-by span{
    font-size: 1.2rem;
}
.side-info-value-wrapper .sold-by span.rating-span,
.side-info-value-wrapper .sold-by span.rating-span i{
    background-color: #38AE04;
    font-size: 0.9rem;
    color: var(--subtitle) !important;
    padding: 0.15rem 0.4rem;
    border-radius: 15px;
    text-align: center;
    margin: 0;
}

.side-info-value-wrapper .sold-by span.percentage{
    font-size: 0.9rem;
    color: var(--darksubtitle);
}   
.values {
    display: flex;
    flex-wrap: wrap;
}

.value-card {
    display: flex;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background-color: #f9f9f9;
    border: 1px solid var(--subtitle);
    border-radius: 6px;
    text-align: center;
    width: 48%;
}

.value-card i {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.value-card p {
    font-size: 0.85rem;
    color: var(--darksubtitle);
}

.side-info-value-wrapper div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

.side-info-value-wrapper div i {
    font-size: 1.5rem;
    color: var(--primary);
}

.side-info-value-wrapper div h6 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--darktitle);
}

div.side-info div.bottom-container{
    display: flex;
    font-size: 1.3rem;
    border-bottom:1px solid var(--subtitle);
    padding: 1rem 0.5rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.093);
}
div.side-info div.bottom-container i{
    color: var(--primary);
    width: 12%;
}



/*------- overview section -----------------*/
div.overview-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 4px rgba(164, 164, 164, 0.172);
    padding: 1.5rem;
    gap: 0.5rem;
    color: var(--darksubtitle);
    margin:1rem 0;
}

div.overview-container h1.overview-header{
    border-bottom: 1px solid var(--subtitle);
    color: var(--darksubtitle);
    padding:1.5rem 0;
    margin-bottom: 1rem;
}

div.overview-container div.overview-wrapper{
    display: flex;
}
div.overview-container div.overview-wrapper div.overview-list h4{
    margin-bottom: 1rem;
    color: var(--darksubtitle);
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 500;
}
div.overview-container div.overview-wrapper div.overview-list{
    width: 50%;
}
div.overview-container div.overview-wrapper div.overview-list ul{
    margin-left: 1rem;
}
div.overview-container div.overview-wrapper div.overview-list li{
    padding:0.2rem 0;
    color: var(--darksubtitle);
    opacity: 0.8;
    font-size: 0.9rem;
}
div.overview-container div.overview-wrapper div.overview-table{
    width: 50%;
}
div.overview-container div.overview-wrapper div.overview-table h4{
    margin-bottom: 1rem;
    color: var(--darksubtitle);
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 500;
}

div.overview-wrapper div.overview-table table{
    border-collapse: collapse;
    width: 100%;
   
}
div.overview-wrapper div.overview-table table tr{
    height: 30px;

}
div.overview-wrapper div.overview-table table tr:nth-child(even){
        background-color: #f0f4fd;
}
div.overview-wrapper div.overview-table table th{
    text-align: left;
    font-weight:500;
    padding: 0.5rem;    
    font-size: 0.9rem;
    color: var(--darksubtitle);
    opacity: 0.7;
}




/*  Product Rating   ----------------------------------------------*/
div.productrating-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 1px 4px rgba(164, 164, 164, 0.172);
    padding: 1.5rem;
    gap: 0.5rem;
    color: var(--darksubtitle);
    margin:1rem 0;
}
div.productrating-container h1.productrating-header {
    border-bottom: 1px solid var(--subtitle);
    color: var(--darksubtitle);
    padding:1.5rem 0;
    margin-bottom: 1rem;
}
div.productrating-container div.productrating-wrapper{
    display: flex;
    gap: 1rem;
}
div.productrating-wrapper div.left-section{
    width: 40%;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}
  
.fa {
    font-size: 25px;
}
  
.checked {
    color: orange;
}
  
  /* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}
  
.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}
  
/* Place text to the right */
.right {
    text-align: right;
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}
  
/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}
  
/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
.side, .middle {
    width: 100%;
}
.right {
    display: none;
}
}







div.productrating-wrapper div.right-section{
    width: 60%;
    padding-left: 1rem;
}
div.productrating-wrapper div.right-section div.review-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom:1px solid var(--subtitle);
    margin-bottom: 1rem;
}
div.productrating-wrapper div.right-section div.review-header h4{
    color: var(--darksubtitle);
    opacity: 0.9;
    font-size: 1.2rem;
    font-weight: 500;
}
div.productrating-wrapper div.right-section div.review-header div.review-filters{
    display: flex;
}



/*================= [ commnet ]===============================*/
div.productrating-container div.comment-container{
    display: flex;
    width: 100%;
    margin:1rem 0;
    border-bottom: 1px solid var(--subtitle);
    padding: 1.5rem 0;
}
div.image-wrapper{
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--subtitle);
}
div.image-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
div.wrapper{
    display: flex;
    width: 90%;
    flex-direction: column;
}
div.wrapper > div{
    display: flex;
    gap: 1rem;
}
div.wrapper h1.userName{
    font-size: 1.5rem;
    font-weight: 500;
}

div.wrapper span.Rating{
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}
div.wrapper p.Data{
    font-size: 0.9rem;
    opacity: 0.8;
    font-weight: 600;
    margin-top: 0.15rem;
}
div.wrapper span.Verified{
    background-color: #484848bb;
    color: var(--subtitle);
    font-size: 0.9rem;
    padding:0.05rem 0.3rem;
    border-radius: 10px;
}
div.comment{
    display: flex;
    position: relative;
    margin-top: 0.8rem;
}

div.comment p{
    display: -webkit-box; /* Enables the flexbox layout for text */
    -webkit-line-clamp: 3; /* Limits text to 3 lines */
    -webkit-box-orient: vertical; /* Specifies the vertical orientation */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds the ellipsis (...) */
    line-height: 1.5; /* Adjust line height for readability */
    max-height: calc(1.5em * 3); /* 3 lines of text */
    margin-bottom: 10px;
    font-size: 16px;
    width: 540px;
    margin-left: 0.4rem;
}
div.comment a{
    position: absolute;
    bottom: 12px;
    right: 10px;
} 

.stared{
    color: orange;
}